<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>興趣何倫碼</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#336699; font-size:60px;}
		h2 {color:#81C0C0; font-size:40px;}
	</style>

	<script>
		function change1() {
			document.getElementById("pic").src = "/static/bbb.png"
		}
		function change2() {
			document.getElementById("pic").src = "/static/aaa.png"
		}
	</script>
</head>
<body>
	<table width="70%">
		<tr>
			<td>
				<img src="/static/aaa.png" width="120%" id="pic" onmouseover="change1()" onmouseout="change2()" class="center-image"></img>
			</td>

			<td>
				<h1>興趣何倫碼</h1>
				<h2 id="h2text">Hsieh,Chi-Hsuan</h2>
			</td>
		</tr>
	</table>
	<table width="80%"border="1">
		<tr>
			<td bgcolor=#FFE66F>
				興趣何倫碼結果:<br>
				S社會型<br>
				x<br>
				R實作型<br>
			</td>

			<td bgcolor=#FFF0AC>
				測驗結果說明：<br>
				天性樂於助人，能傾聽並理解他人的感受，喜歡協助他人成長學習，願意付出自己的時間精力服務人群。擅長手工藝、機械器具的操作，重視生活的實用性，著重處理具體的事務。
			</td>

			<td bgcolor=#FFF0AC>
				適合的職業：<br>
				1. 護理師及護士
				2. 獸醫師
				3. 物理治療師
			</td>
		</tr>
	</table>
</body>
</html>