<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>謝棨亘簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#336699; font-size:60px;}
		h2 {color:#81C0C0; font-size:40px;}
	</style>

	<script>

		
	</script>
</head>
<body>
	<table width="70%">
		<tr>
			<td>
				<h1>謝棨亘</h1>
				<h2 id="h2text">Hsieh,Chi-Hsuan</h2>
			</td>
		</tr>
	</table>
	<table width="80%"border="1">
		<tr>
			<td bgcolor=#FFE66F>
				個人資料:<br>
				系級:資管二A<br>
				e-mail:	<a href="chiivy0626@gmail.com">chiivy0626@gmail.com</a><br>
			</td>

			<td bgcolor=#FFF0AC>
				興趣愛好：<br><br>
				平時喜歡追劇，聽歌<br>
				也喜歡出國旅行<br>
				因此對學習外國語言很有興趣<br>
			</td>

			<td>
				推薦歌曲:<br><br>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/DgAAaV6xfrk?si=Gt7ZUVPY7iCdViie" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</td>
		</tr>
	</table>
</body>
</html>