<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>自傳履歷</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#81C0C0; font-size:60px;}
		h2 {color:#81C0C0; font-size:40px;}
	</style>
</head>

<body>
	<nav>
	<h1>
	<div style="text-align: center;">自傳履歷</div><text-align: center;a class="text-reset text-decoration-none text-light bg-danger" target="_blank" id="COMPANY"></a></h1>
	</nav>

	<table width="80%">
		<body style="background-color: #ECECFF;">
		<tr>
			<td>
				<img src="/static/eee.png"width="50%"id="pic"onmouseover="change1()" onmouseout="change2()" align="center"></img>
			</td>
		</tr>
	</table>

	<table width="90%"border="1">
		<tr>
			<td bgcolor=#FBFBFF>
				基本資料：<br><br>
				姓名:謝棨亘<br>
				生日:2004/06/26<br>
				系級:靜宜大學資管系二年級<br>
				e-mail:	<a href="chiivy0626@gmail.com">chiivy0626@gmail.com</a><br>
			</td>
			<td bgcolor=#FBFBFF>
				目前所學技能:<br><br>
				程式技能(Java,Python)<br>
				網頁設計<br>
				管理方面相關技能<br>
			</td>
			<td bgcolor=#FBFBFF>
				適合此工作的原因:<br><br>
				在大學期間學習了網頁設計和Python，能將這些能力運用在此份工作上。<br>
				在團隊合作方面有經驗，在工作上能避免意見不合情況的發生。<br>
				大學所學不只有程式方面，對於管理方面也有學習到許多。
			</td>
		</tr>
	</table>
</body>

</html>