<html>

<head>
	<title>最有興趣的MIS相關工作</title>
</head>

<body>
	<table width="90%"border="1">
		<tr>
			<td bgcolor=#FFEEDD>
				最有興趣的MIS相關工作：
			</td>

			<td bgcolor=#FFDCB9>
				MIS工程師
			</td>
		</tr>
		<tr>
			<td bgcolor=#FFEEDD>
				工作內容：
			</td>

			<td bgcolor=#FFDCB9>
				1. 電腦、伺服器與資訊設備評估及導入<br>
				2. 網路設備(Firewall, Router, Switch)之設定及維運管理<br>
				3. 資訊機房管理與系統維運及備份管理<br>
				4. 資訊安全維護(入侵防禦/偵測/防毒/弱掃/Patch修補等)<br>
				5. 使用者電腦設定與問題排除<br>
				6. Microsoft 365設定及維護<br>
				7. 主管交辦事項
			</td>
		</tr>
		<tr>
			<td bgcolor=#FFEEDD>
				原因：
			</td>

			<td bgcolor=#FFDCB9>
				1. 工作地區離家近<br>
				2. 和大學所學相關<br>
				3. 上班時間固定且週休二日<br>
			</td>
		</tr>
	</table>
</body>

</html>