<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>最有興趣的MIS相關工作</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#336699; font-size:60px;}
		h2 {color:#81C0C0; font-size:40px;}
	</style>
</head>

<body>
	<nav>
	<h1>
	<div style="text-align: center;"></div>茂霖食品股份有限公司<text-align: center;a class="text-reset text-decoration-none text-light bg-danger" target="_blank" id="COMPANY"></a></h1>
	</nav>
	
	<table width="80%">
		<body style="background-color: #E4EFF0;">
		<tr>
			<td>
				<img src="/static/ccc.png"width="50%"id="pic"onmouseover="change1()" onmouseout="change2()"class="center-image"></img>
			</td>
		</tr>
	</table>

	<table width="90%"border="1">
		<tr>
			<td bgcolor=#FFEEDD>
				最有興趣的MIS相關工作：
			</td>
			<td bgcolor=#FFEED>
				MIS工程師
			</td>
		</tr>
		<tr>
			<td bgcolor=#FFEED>
				工作內容：
			</td>

			<td bgcolor=#FFEED>
				1. 鼎新系統（ERP、EF）之維護與管理<br>
				2. 資料庫之維護與管理<br>
				3. 協助維護電腦、主機及網路系統，維持資訊系統正常運作，並進行資料備份及故障排除<br>
				4. 處理使用者問題及需求，包括流程整合、系統操作、問題排除、報表修改等<br>
				5. 其他資訊專案之推動與執行
			</td>
		</tr>
		<tr>
			<td bgcolor=#FFEED>
				職工福利與生活補助：
			</td>

			<td bgcolor=#FFEED>
				1. 工福利委員會
				2. 員工制服
				3. 免費供應中餐/誤餐費
				4. 尾牙犒賞
				5. 員工婚喪喜慶補助
				6. 生育津貼
			</td>
		</tr>
		<tr>
			<td bgcolor=#FFEED>
				原因：
			</td>

			<td bgcolor=#FFEED>
				1. 工作地區離家近<br>
				2. 和大學所學相關<br>
				3. 上班時間固定且週休二日<br>
			</td>
		</tr>
	</table>
</body>

</html>